<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Todo App</title>
</head>
<body>
  <h1>Welcome {{ name }}</h1>

  <form action="/task" method="post">
    <input type="text" placeholder="Add Task" name="task" required/>
    <button type="submit">Add</button>
  </form>

  <ul>
    {% for item in tasks %}
      <li>
        {{ item.task }}
        <form action="/delete/{{ item.id }}" method="post" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
